# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Environment
.env

# Temporary files
temp_charts/
